
h1 {
	text-align: center;
}

.form-container {
	position: relative;
	margin: 2% auto;
	min-height: 60%;
	width: 30%;
	box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
	background: white;
	padding: 0px 15px 5px 15px;
	box-sizing: border-box;
	border-radius: 8px;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90px;
	height: 90px;
}
.container-lg{
	margin-top:20px;
}

.selected {
  background-color: #f2f2f2;
}