<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DMS Project</display-name>
  <welcome-file-list>
    <welcome-file>/UserLogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>URegister</display-name>
    <servlet-name>URegister</servlet-name>
    <servlet-class>com.servlet.URegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>URegister</servlet-name>
    <url-pattern>/URegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetails</display-name>
    <servlet-name>UserDetails</servlet-name>
    <servlet-class>com.servlet.UserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetails</servlet-name>
    <url-pattern>/UserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.servlet.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPass</display-name>
    <servlet-name>ForgotPass</servlet-name>
    <servlet-class>com.servlet.ForgotPass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPass</servlet-name>
    <url-pattern>/ForgotPass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.servlet.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectServlet</display-name>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>com.servlet.ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/ProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>com.servlet.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProjectUser</display-name>
    <servlet-name>ViewProjectUser</servlet-name>
    <servlet-class>com.servlet.ViewProjectUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProjectUser</servlet-name>
    <url-pattern>/ViewProjectUser</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPdfServlet</display-name>
    <servlet-name>ViewPdfServlet</servlet-name>
    <servlet-class>com.servlet.ViewPdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPdfServlet</servlet-name>
    <url-pattern>/ViewPdfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeartbeatTimeoutServlet</display-name>
    <servlet-name>HeartbeatTimeoutServlet</servlet-name>
    <servlet-class>com.servlet.HeartbeatTimeoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeartbeatTimeoutServlet</servlet-name>
    <url-pattern>/HeartbeatTimeoutServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>2</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>DeleteProjectServlet</display-name>
    <servlet-name>DeleteProjectServlet</servlet-name>
    <servlet-class>com.servlet.DeleteProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProjectServlet</servlet-name>
    <url-pattern>/DeleteProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProject</display-name>
    <servlet-name>EditProject</servlet-name>
    <servlet-class>com.servlet.EditProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProject</servlet-name>
    <url-pattern>/EditProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArchivedProject</display-name>
    <servlet-name>ArchivedProject</servlet-name>
    <servlet-class>com.servlet.ArchivedProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArchivedProject</servlet-name>
    <url-pattern>/ArchivedProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OngoingProject</display-name>
    <servlet-name>OngoingProject</servlet-name>
    <servlet-class>com.servlet.OngoingProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OngoingProject</servlet-name>
    <url-pattern>/OngoingProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProject</display-name>
    <servlet-name>UpdateProject</servlet-name>
    <servlet-class>com.servlet.UpdateProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProject</servlet-name>
    <url-pattern>/UpdateProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddUser</display-name>
    <servlet-name>AdminAddUser</servlet-name>
    <servlet-class>com.servlet.AdminAddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUser</servlet-name>
    <url-pattern>/AdminAddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUser</display-name>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>com.servlet.EditUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.servlet.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.servlet.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.servlet.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogView</display-name>
    <servlet-name>LogView</servlet-name>
    <servlet-class>com.servlet.LogView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogView</servlet-name>
    <url-pattern>/LogView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUp</display-name>
    <servlet-name>FileUp</servlet-name>
    <servlet-class>com.servlet.FileUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUp</servlet-name>
    <url-pattern>/FileUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuidGen</display-name>
    <servlet-name>GuidGen</servlet-name>
    <servlet-class>com.servlet.GuidGen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuidGen</servlet-name>
    <url-pattern>/GuidGen</url-pattern>
  </servlet-mapping>
</web-app>